@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');


body{letter-spacing: -1px; font-family: '맑은 고딕', 'Malgun Gothic', sans-serif;}
h1,h2{font-family: 'Noto Sans KR', sans-serif;}
a, input, select, button, textarea {font-family: inherit;}

.container{width:1280px; height: inherit; margin: 0 auto; }

#wrap{width: 100%; height: auto; }
#header{width: 100%; height: 141px; background: #fff;}
.decoration_none:hover{text-decoration: none;}
.value-01{border: 2px solid transparent; }
.value-01:hover{border: 2px solid #009973; }
.value-03{border: 2px solid transparent; }
.value-03:hover{border: 2px solid #ff3388; }
.value-04{border: 2px solid transparent; }
.value-04:hover{border: 2px solid #6839e9; }
.image_box h2:first-child span{position: absolute; left: 28%;}


.gov_top_info{width: 100%; height: 33px;}
.gov_top_info .container p{background: #fff url(../img/eg_logo.png) no-repeat center left; line-height: 33px; padding-left: 52px; font-size: 14px; font-weight: bold; color: #777;}
.top-area{width: 100%; height: 33px; background: #033075; }
.top-area .container .toggle-group{position: relative; float: left; margin-top: 5px; padding-right: 15px;}
.top-area .container .toggle-group > a{font-family: initial; color: #fff; display: block; font-size: 14px; font-weight: bold; letter-spacing: -1px; float: left; padding-right: 30px;}
.top-area .container .toggle-group .toggle-btn::after{background: url(../img/ico_arrow_type07.png) no-repeat; content: ""; position: absolute; top: 8px; left:89px; width: 8px; height: 5px;}
.top-area .container .toggle-group .toggle-target{display: none;position: absolute; top: 28px;left: 0; width: 100px; border: solid #ddd; border-width: 0 1px 1px; background: #fff; box-shadow: 2px 2px 10px -6px #000;}
.top-area .container .toggle-group .toggle-target > li{float: none; margin-top: 0; padding: 0; border-top: 1px solid#ddd;}
.top-area .container .toggle-group .toggle-target > li > a{color: #555; text-align: center; padding: 5px 0px; font-weight: normal; display: block;}
.top-area .container .toggle-group .left-element{float: left;}
.top-area .container .toggle-group .left-element > li{ float: left; padding: 0px 15px;}
.top-area .container .toggle-group .left-element > li > a{color: #fff; display: block; font-size: 14px; font-weight: bold;}
.top-area .container .toggle-group .left-element::before{content: ""; width: 1px; height: 12px; position: absolute; top: 25%; display: block; background: #6d88b4;}
.right-element{float: right; overflow: hidden; }
.right-element li{float: left; padding: 0 15px; margin-top: 5px; position: relative;}
.right-element li::after{content: ""; width: 1px; height: 12px; background: #6d88b4; display: block; position: absolute; right: 0; top: 25%;}
.right-element .none::after{width: 0; height: 0;}
.right-element li a{font-size: 14px; color: #fff; font-weight: bold; display: block;}
.right-element li span{font-size: 14px; color: #fff; font-weight: bold; float: left;}
.right-element li .zoom-element{ width: 90px; height: 18px; margin-left: 12px; margin-top: 2px;}
.right-element li .zoom-element>.zoom-btn{display: inline-block; width: 18px; height: 18px; background: url(../img/ico-zoom-btn.png) no-repeat;}
.right-element li .zoom-element>.out{background-position: 0 -18px;}
.right-element li .zoom-element>.zoom-text{display: inline-block; width: 54px; background-color: rgba(202,231,247,.4); font-size: 14px; font-weight: 700; text-align: center; height: 18px; line-height: 16px;}
.body-area{z-index: 999; width: 100%; height: 75px; background: #fff; box-shadow: 1px 3px 10px rgb(3 48 117 / 30%); position: absolute; top: 66px;}
.gnb-element{width: 100%; height: 100%; position: relative;}
.gnb-element .container h1{width: 129px; height: 43px; position: absolute; top: 8px;}
.gnb-element .container h1 a{display: block; width: 121px; height: 40px;}
.gnb-element .container h1 a img{display: block; width: 100%; height: 100%;} 
.gnb-element .container .gnb-mobile-element .gnb-area{margin-top: 10px; padding-left: 200px;}
.gnb-element .container .gnb-mobile-element .gnb-area > li{float: left; padding: 0 26px;}
.gnb-element .container .gnb-mobile-element .gnb-area > li:hover > a{color: #0e72e4;}
.gnb-element .container .gnb-mobile-element .gnb-area > li > a{display: block; font-size: 21px; color: #333; font-weight: bold; padding: 15px 8px 30px; text-align: center;}
.gnb-element .container .gnb-mobile-element .gnb-area > li > a > span{display: none; width: 100%; height: 5px; background-color: #0e72e4; margin-top: 16px;}
.gnb-element .container .gnb-mobile-element .gnb-area > li:hover > a > span{display: block;}
.width100{z-index: 2; width: 100%;  position: absolute; left: 0; top: 76px;  border-bottom: 3px solid #233671; display: none; background: #fff; height: 375px;}
.gnb-element .container .gnb-mobile-element .gnb-area > li:hover > .width100{display: block;}
.width100 .container .image_box h2{background: url(../img/ico-gnb-m1.png) no-repeat; width: 350px; height: 300px; float: left; background-position: right 80px; box-sizing: border-box; padding-top: 230px;}
.width100 .container .image_box .logo2{background: url(../img/ico-gnb-m5.png) no-repeat; width: 350px; height: 300px; float: left; background-position: right 80px; box-sizing: border-box; padding-top: 230px;}
.width100 .container .image_box .logo3{background: url(../img/ico-gnb-m2.png) no-repeat; width: 350px; height: 300px; float: left; background-position: right 80px; box-sizing: border-box; padding-top: 230px;}
.width100 .container .image_box .logo4{background: url(../img/ico-gnb-m4.png) no-repeat; width: 350px; height: 300px; float: left; background-position: right 80px; box-sizing: border-box; padding-top: 230px;}
.width100 .container .image_box h2 span{display: block;  font-size: 30px; color: #033075; font-weight: 700; text-align: right;  padding-right: 18px;}
.width100 .container .menu-list{float: left; margin-left: 75px; padding-top: 30px;}
.width100 .container .menu-list p a{box-sizing: border-box; width: 195px; display: block; font-size: 16px; font-weight: bold; color: #333;  border-bottom: 1px solid #e2e2e2; text-align: left; padding: 10px;}
.width100 .container .menu-list p:hover a{color: #006ae2;}
.width100 .container .menu-list .menu1{float: left; margin-right: 45px;}
.width100 .container .menu-list .menu1 .p_first{height: 30px; line-height: 30px; background: #c8e2ff; border-radius: 15px; margin-bottom: 10px; padding: 0; text-align: center; font-size: 16px; color: #333; font-weight: 700;}
.width100 .container .menu-list .menu1 .p_first:hover a{color: #006ae2;}
.guide-element a{position: relative; float: right; display: block; width: 200px; border-radius: 20px; height: 40px; line-height: 40px; background: #eb193a; font-size: 15px; font-weight: bold; text-align: center; color: #fff; margin-top: 7px;}
.guide-element a .guide-bul{width: 18px; height: 24px; background: url(../img/ico-guide.png) no-repeat; position: absolute; top: 10px; left: 26px;}
.guide-element a .guide-arrow{width: 8px; height: 11px; background: url(../img/ico-myset.png) no-repeat; background-position: -109px -65px; position: absolute; top: 15px; right: 27px;}


.main-visual{margin: 27px 0 0; width: 100%; height: 440px;}
.content{display: flex; justify-content: space-between; width: 100%;}
.visual-box{width: 840px; height: 404px;  position: relative;}
.swiper-main-photo{position: relative;}
.visual-box .swiperimg{background: url(../img/nohuOnestop_PC.png) no-repeat; width: 100%; height: 310px;}
.visual-box .swiperimg1{background: url(../img/main-ico-more1.png) no-repeat; width: 100%; height: 310px; position: absolute; top: 0; left: 840px; border-radius: 15px;}
.swiper-navi{position: absolute; left: 45px; top: 250px; padding: 0 10px; width: 115px; height: 30px; border-radius: 15px; z-index: 1; background: rgba(0, 0, 0, 0.5); box-sizing: border-box;}
.swiper-pagination-main{position: relative; display: inline-block; bottom: 0; width: auto; margin: 0 5px; float: left; color: #fff; font-size: 14px; line-height: 28px; padding: 0; letter-spacing: -1px;}
.swiper-button-prev{background: url(../img/ico-swiper-prev.png) no-repeat; float: left; width: 8px; height: 12px; position: absolute; top: 31px; left: 36px}
.swiper-button-stop{background: url(../img/ico-swiper-stop.png) no-repeat center;  width: 20px; height: 30px; float: left; position: absolute; top: 0; left: 50px}
.swiper-button-next{background: url(../img/ico-swiper-next.png) no-repeat center;  width: 20px; height: 30px; float: left; position: absolute; top: 22px; left: 70px}



.visual-box > .search-box{display: flex; margin-top: -68px; width: 100%; height: 64px;}
.visual-box .search-box .tit{width: 120px; line-height: 62px; font-size: 16px; font-weight: bold; color: #333;}
.visual-box .search-box .opction{position: relative; margin-right: 30px; padding: 20px 15px 20px 0; width: 150px; font-size: 15px; font-weight: bold; color: #333; box-sizing: border-box;}
.visual-box .search-box .opction::after{content: ""; position: absolute; left: 0; bottom: 15px; width: 100%; height: 2px; background: #333;}
.visual-box .search-box .button{background: #fff url(../img/ico-arrow-down.png) no-repeat; width: 30px; height: 30px; position: absolute; top: 26px; right: -16px;}
.visual-box .search-box .input-search{width: 551px; height: 64px; border: 2px solid #3382e9; border-radius: 15px; box-sizing: border-box;}
.visual-box .search-box .input-search form{position: relative;}
.visual-box .search-box .input-search form input{padding: 0 0 0 20px; width: 100%; height: 60px; font-size: 16px; border-radius: 13px; border: none; box-sizing: border-box; }
.visual-box .search-box .input-search form input:focus{outline: none; }
.visual-box .search-box .input-search form button{background: url(../img/ico-main-search.png) no-repeat center; width: 40px; height: 40px; position: absolute; right: 15px; top: 11px;}

.userinfo-box{width: 400px; height: 400px; border: 1px solid #e2e5eb; border-radius: 20px; box-sizing: border-box; box-shadow: 10px 10px 27px rgb(0 0 0 / 6%);}
.userinfo-box .login-wrap{padding: 130px 26px 0 26px; text-align: center; background: url(../img/ico-main-login.png) no-repeat center top 60px;}

.userinfo-box .login-wrap .login-info p{margin-top: 30px; font-size: 18px; font-weight: bold; color: #333;}
.userinfo-box .login-wrap .login-info a{margin: 40px 0 0; display: block; width: 100%;height: 52px; font-weight: bold; font-size: 15px; color: #fff; background: #3382e9; border-radius: 8px; line-height: 52px;}
.userinfo-box .login-wrap .join-find-wrap{margin: 25px 0 0;}
.userinfo-box .login-wrap .join-find-wrap .left{float: left;}
.userinfo-box .login-wrap .join-find-wrap .left a{display: inline-block; font-size: 14px; line-height: 22px; color: #666;}
.userinfo-box .login-wrap .join-find-wrap .left .bar{display: inline-block; width: 1px; height: 10px; background: #ddd; margin: 0 8px;}
.userinfo-box .login-wrap .join-find-wrap .right{float: right;}
.userinfo-box .login-wrap .join-find-wrap .right a{font-size: 14px; line-height: 22px; color: #666;}


.frequent-service{display: block; width: 100%; height: 305px; background: #f5f7fa;}
.contentBox{padding: 35px 0;}
.section-tit-box{display: flex; justify-content: space-between; }
.tit-box > .section-tit{font-size: 18px; font-weight: bold; color: #333; }
.tit-box .section-tit span em{color: #3382e9;}
.tit-link-box{padding: 0 40px 0 24px;}
.tit-link-box .a-link{padding: 0 0 0 24px; display: inline-block; font-size: 14px; font-weight: bold; color: #666;}

.frequent-swiper{position: relative; margin: 20px 0 0; padding: 0 34px 40px 34px;}
.swiper-wrapper{position: relative; width: 100%; height: 100%; display: flex; box-sizing: content-box;}
.swiper-slide{width: 137.5px; margin-right: 16px;}
.swiper-slide a{display: block; width: 137.5px; height: 140px; text-align: center; border-radius: 15px; background: #fff;}
.swiper-slide a.value-03 span{background: #ff3388;}
.swiper-slide a span{display: inline-block; margin: 24px 0 15px; height: 40px; width: 40px; line-height: 40px; border-radius: 40px; font-size: 13px; font-weight: bold; color: #fff;}
.swiper-slide a .txt{color: #333; font-size: 15px;}
.swiper-slide a.value-01 span {background: #009973;}
.swiper-slide a.value-04 span {background: #6839e9;}
.swiper-button-prev3{background: url(../img/ico-swiper-prev2.png) no-repeat center; position: absolute; top: 52px; padding: 0 10px; width: 32px; height: 32px; left: -10px; opacity: .5;}
.swiper-button-next3{background: url(../img/ico-swiper-next2.png) no-repeat center; position: absolute; top: 52px; padding: 0 10px; width: 32px; height: 32px; right: -10px;}


.onestop-contents{width: 100%;}
.onestop-service-box{padding: 24px; margin-top: 40px; width: 840px; height: 220px; border: 1px solid #e2e5eb; border-radius: 20px; box-sizing: border-box;}
.notice-box{position: relative; margin-top: 40px; padding: 24px; width: 400px; height: 220px; border: 1px solid #e2e5eb; border-radius: 20px; box-sizing: border-box;}
section  h2.section-tit {font-size: 18px; font-weight: bold; color: #333;  display: inline-block;}
.notice-list{margin-top: 24px;}
.notice-list li a{display: flex; justify-content: space-between; line-height: 1.8;}
.notice-list span.notice-tit { display: inline-block;width: 100%; font-size: 14px; color: #333; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: calc(100% - 75px); vertical-align: middle;}
.notice-list span.notice-date {display: inline-block; font-size: 14px; color: #777; vertical-align: middle;}
.notice-box > .btn-more{background: url(../img/main-ico-more.png) no-repeat center; position: absolute; width: 24px; height: 24px; top: 24psx; right: 24px;}

.onestop-service-box .righten{float: right;}
.onestop-service-box .righten a{ padding-left: 10px; margin-left: 8px; font-size: 14px; color: #3382e9; font-weight: 700; letter-spacing: -2px;}
.onestop-service-box .righten a img{width: 12px; height: 12px; padding-left: 5px;}

.onestop-swiper-wrap{float: left; position: relative; margin: 20px 0 0; padding: 0 30px;}
.onestop-swiper{width: 100%; height: 140px; }
.onestop-swiper .swiper-wrapper .swiper-slide{width: 87.1429px; margin-right: 20px;}
.onestop-swiper .swiper-wrapper .swiper-slide a{font-size: 14px; color: #333; width: 100%;}
.iconset{margin: 0 auto; width: 70px; height: 70px; border-radius: 30px;}
.onestop-swiper .swiper-wrapper .swiper-slide a .tit{margin: 15px 0 0;}
.landing01{background: #f5f7fa url(../img/ico-landing01.png) no-repeat center; display: block;}
.landing02{background: #f5f7fa url(../img/ico-landing02.png) no-repeat center; display: block;}
.landing03{background: #f5f7fa url(../img/ico-landing03.png) no-repeat center; display: block;}
.landing04{background: #f5f7fa url(../img/ico-landing04.png) no-repeat center; display: block;}
.landing05{background: #f5f7fa url(../img/ico-landing05.png) no-repeat center; display: block;}
.landing06{background: #f5f7fa url(../img/ico-landing06.png) no-repeat center; display: block;}
.landing07{background: #f5f7fa url(../img/ico-landing07.png) no-repeat center; display: block;}
.swiper-button-prev4 {left: 0; background: url(../img/ico-swiper-prev2.png) center no-repeat;  position: absolute; width: 32px; height: 32px; top: 23px; opacity: .5;}
.swiper-button-next4{background: url(../img/ico-swiper-next2.png) center no-repeat;  position: absolute; width: 32px; height: 32px; top: 23px; right: 19px;}



.subsidy-contents{width: 100%;}
.subsidy-box{margin-top: 40px; padding: 24px 20px; display: flex; width: 840px; height: 220px; border: 1px solid #e2e5eb; border-radius: 20px; box-sizing: border-box;}
.subsidy-box  .tit-box{width: 200px;}
.subsidy-box  .tit-box h2.section-tit {font-size: 18px; font-weight: bold; color: #333; padding: 9px 0 0 47px; background: url(../img/main-ico-subsidy.png) no-repeat; display: inline-block; width: 100%; height: 30px;}
.subsidy-box .subsidy-txt p.txt {margin-top: 24px; font-size: 14px; color: #333;}
.subsidy-box .subsidy-txt .a-link{display: inline-block; margin-top: 24px; font-size: 14px; color: #3382e9;}
.subsidy-box .subsidy-txt .a-link img{padding-bottom: 1px;}
.subsidy-service {width: 600px; display: flex; justify-content: space-between;}
.subsidy-service > .main-subsidy{position: relative; padding: 20px 0; box-sizing: border-box; width: 165px; height: 170px; background: #fff8e4; border-radius: 20px; margin: 0 42.5px;}
.main-subsidy-box{width: 100%; height: 100%; text-align: center;}
.main-subsidy-box .subsidy-tit{font-size: 14px; margin-top: 12px; font-weight: bold; color: #664b00;} 
.main-subsidy-box .a-link{margin-top: 5px; font-size: 14px; color: #444;}
.main-subsidy-box .a-link img{padding-bottom: 1px;}
.main-subsidy .swiper-button-prev9{background: url(../img/ico-swiper-prev2.png) center no-repeat; position: absolute; width: 32px; height: 32px; left: -37px; top: 65px;}
.main-subsidy .swiper-button-next9{background: url(../img/ico-swiper-next2.png) center no-repeat; position: absolute; width: 32px; height: 32px; right: -33px; top: 65px;}
/* .main-subsidy-box .swiper-pagination{line-height: 30px; color: #fff; width: 55px; height: 30px; border-radius: 15px; background: rgba(0, 0, 0, 0.5); margin: 4px auto;} */
.subsidy-inner-box{display: flex; justify-content: space-between;}
.subsidy-inner-box .subsidy-check{margin-right: 20px; background: #4290f0  url(../img/main-subsidy-check-bg.png) no-repeat right bottom; width: 165px; padding-top: 40px; border-radius: 16px; color: #fff; font-size: 14px; font-weight: bold; text-align: center;}
.subsidy-inner-box .subsidy-search{background: #00a884   url(../img/main-subsidy-search-bg.png) no-repeat right bottom; width: 165px; padding-top: 40px; border-radius: 16px; color: #fff; font-size: 14px; font-weight: bold; text-align: center;}
.subsidy-inner-box p{padding-top: 20px;}
.ico-subsidy-check{width: 24px; height: 30px; background: url(../img/main-subsidy-check.png) no-repeat center; display: inline-block;}
.ico-subsidy-search{width: 28px; height: 28px; background: url(../img/main-subsidy-search.png) no-repeat center; display: inline-block;}
.link-box{  margin-top: 40px; padding: 24px; width: 400px; height: 220px; border: 1px solid #f5f9ff; border-radius: 20px; box-sizing: border-box; background: #f5f9ff; display: flex; flex-wrap: wrap;position: relative;}
.link-box::after{content: ""; position: absolute; width: 1px; height: 170px; background: #e1edfd; left: 50%;}
.link-box::before{content: ""; position: absolute; width: 350px; height: 1px; background: #e1edfd; top: 50%;}
.link-box > .block{width: 50%;  position: relative; margin-top: 0;}
.link-box > .block01{padding-top: 49px;}
.link-box > .block > img{width: 20px; height: 20px; margin: 5px auto; display: block;}
.link-box > .block01 > .block01-img1{width: 21px; height: 20px;}
.link-box > .block01 > .block01-img2{width: 18px; height: 22px;}
.link-box > .block > a{display: block; padding-top: 10px;}
.link-box > .block01 > .location{padding-top: 8px;}
.link-box .block .ico-tit{display: block; width: 100%; height: 100%; text-align: center; font-size: 14px; color: #666;}



.news-contents{width: 100%;}
.block{margin-top: 40px; width: 400px;}
.news-tab-box1{padding: 24px; height: 320px; border: 1px solid #e2e5eb; border-radius: 20px; box-sizing: border-box;}
.news-tab-box1 .main-tab-v1 .tablist{float: left;}
.news-tab-box1 .main-tab-v1 .tablist a{float: left;}
.news-tab-box1 .main-tab-v1 .tablist .first{position: relative; color: #0050C7; margin-right: 10px; display: block; font-size: 16px; font-weight: bold;     border-bottom: 2px solid #0050C7;}
.news-tab-box1 .main-tab-v1 .tablist .first::after{content: ""; position: absolute; width: 1px; height: 15px; background: #ddd; right: -11px; top: 3px;}
.news-tab-box1 .main-tab-v1 .tablist .last{padding-left: 10px;font-size: 16px; font-weight: bold; color: #333;}
.news-tab-box1 .main-tab-v1 .tab-cont{position: relative; padding-top: 20px; clear: both;}
.news-tab-box1 .main-tab-v1 .tab-cont img{ width: 100%; height: 200px; display: block;}
.news-tab-box1 .main-tab-v1 .tab-cont span{background: url(../img/ico-play.png) no-repeat; position: absolute; width: 60px; height: 60px; top: 36%; left: 42%;}
.news-tab-box1 .main-tab-v1 .tab-cont p{margin-top: 14px; font-weight: bold;}
.news-tab-box2{padding: 24px; height: 320px; border: 1px solid #e2e5eb; border-radius: 20px; box-sizing: border-box;}
.main-tab-v2 .tablist{float: left; border-bottom: 1px solid lightgrey; position: relative; width: 100%;}
.main-tab-v2 .tablist a{float: left; display: block; margin-right: 12px; padding-bottom: 16px; font-size: 16px; font-weight: bold; color: #777;}
.main-tab-v2 .tablist > .btn-more span{background: url(../img/main-ico-more.png) no-repeat center; width: 24px; height: 24px; position: absolute; top: 0; right: 0;}  
.main-tab-v2 .tab-cont{clear: both;}
.main-tab-v2 .tab-cont .news-list{padding-top: 20px;}
.main-tab-v2 .tab-cont .news-list li{margin-bottom: 18px;}
.main-tab-v2 .tab-cont .news-list li a{display: block; font-size: 14px;}
.main-tab-v2 .tab-cont .news-list li a p.tit{color: #333; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; line-height: 18px;}
.main-tab-v2 .tab-cont .news-list li a p.date{color: #777; margin-top: 5px; line-height: 18px;}

.banner-box{margin-top: 40px; width: 400px; height: 320px ; border-radius: 20px;}



.channel-contents{box-sizing: border-box; display: block; width: 100%; min-height: 112px; margin: 40px 0 0; padding: 16px 0; border-top: 1px solid #d9d9d9; background: #fff;}
.channel-slide-wrap{position: relative; }
.channel-contents .swiper-button-prev10 {background: url(../img/ico-swiper-prev2.png) no-repeat center; position: absolute; top: 22px; left: 159px; padding: 0 10px; width: 32px; height: 32px; }
.channel-contents .swiper-button-next10{background: url(../img/ico-swiper-next2.png) center no-repeat;  position: absolute; width: 32px; height: 32px; top: 22px; right: -7px;}
.title-txt .txt{font-size: 18px; display: inline-block; width: 200px; padding: 25px 0; float: left;}
.sl-wrapper .item{display: inline-block; width: 198px; height: 72px; border: 1px solid #ddd; margin-right: 8px;}
.sl-wrapper .item a{width: 100%; height: 100%; }
.sl-wrapper .item a img{width: 100%; height: 100%;}
.sl-wrapper .none1{display: none;}

.top-element{border-top: 1px solid #bcc9dd; border-bottom: 1px solid #bcc9dd; height: 50px; background-color: #dce2ec;}
.fl{float: left;}
.footer-menu{float: left; width: 692px;}
.footer-menu li{display: inline-block; margin-right: 17px;}
.footer-menu li a{display: block; font-size: 15px; color: #333; line-height: 50px;}
.footer-menu li a strong{color: #003764; text-decoration: underline; font-size: 17px;}
.fr{float: right;}
.footer-sns li{float: left; width: 75px; height: 50px;}
.footer-sns li a{display: block; width: 100%; height: 100%; background: url(../img/ico-sns.png) no-repeat;}
.footer-sns li .tw{background-position: -75px 0;}
.footer-sns li .fb{background-position: -150px 0;}
.footer-sns li .ks{background-position: -225px 0;}
.footer-sns li .yt{background-position: -300px 0;}

.body-element{background-color: #ecf1f7; height: 220px;}
.footer_box{padding: 20px 0; }
.footer-logo{float: left;}
.footer-infor{float: left; font-size: 16px; color: #333; line-height: 25px; margin: 5px 0 0 30px;}
.mo-only{display: none;}
.logo_wa a{display: block;}
.logo_wa a img{width: 86px; float: right;}

.swiper-container{
    width: 840px;
    height: 404px;
    overflow: hidden;
}