@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');


body{letter-spacing: -1px; font-family: '맑은 고딕', 'Malgun Gothic', sans-serif;}
h1,h2{font-family: 'Noto Sans KR', sans-serif;}
a, input, select, button, textarea {font-family: inherit;}

.container{width:1280px; height: inherit; margin: 0 auto; }
.container2{width: 1140px; margin: 0 auto; position: relative;}

#wrap{width: 100%; height: auto; }
#header{width: 100%; height: 141px; background: #fff;}
.decoration_none:hover{text-decoration: none;}
.gov_top_info{width: 100%; height: 33px;}
.image_box h2:first-child span{position: absolute; left: 28%;}
.gov_subsidy{  box-sizing: border-box; margin: 0; padding: 0; border: 0; font-style: normal; line-height: 1.5;}
#block{color: #006ae2;}

.gov_top_info .container p{background: #fff url(../img/eg_logo.png) no-repeat center left; line-height: 33px; padding-left: 52px; font-size: 14px; font-weight: bold; color: #777;}
.top-area{width: 100%; height: 33px; background: #033075; }
.top-area .container .toggle-group{position: relative; float: left; margin-top: 5px; padding-right: 15px;}
.top-area .container .toggle-group > a{font-family: initial; color: #fff; display: block; font-size: 14px; font-weight: bold; letter-spacing: -1px; float: left; padding-right: 30px;}
.top-area .container .toggle-group .toggle-btn::after{background: url(../img/ico_arrow_type07.png) no-repeat; content: ""; position: absolute; top: 8px; left:89px; width: 8px; height: 5px;}
.top-area .container .toggle-group .toggle-target{display: none;position: absolute; top: 28px;left: 0; width: 100px; border: solid #ddd; border-width: 0 1px 1px; background: #fff; box-shadow: 2px 2px 10px -6px #000;}
.top-area .container .toggle-group .toggle-target > li{float: none; margin-top: 0; padding: 0; border-top: 1px solid#ddd;}
.top-area .container .toggle-group .toggle-target > li > a{color: #555; text-align: center; padding: 5px 0px; font-weight: normal; display: block;}
.top-area .container .toggle-group .left-element{float: left;}
.top-area .container .toggle-group .left-element > li{ float: left; padding: 0px 15px;}
.top-area .container .toggle-group .left-element > li > a{color: #fff; display: block; font-size: 14px; font-weight: bold;}
.top-area .container .toggle-group .left-element::before{content: ""; width: 1px; height: 12px; position: absolute; top: 25%; display: block; background: #6d88b4;}
.right-element{float: right; overflow: hidden; }
.right-element li{float: left; padding: 0 15px; margin-top: 5px; position: relative;}
.right-element li::after{content: ""; width: 1px; height: 12px; background: #6d88b4; display: block; position: absolute; right: 0; top: 25%;}
.right-element .none::after{width: 0; height: 0;}
.right-element li a{font-size: 14px; color: #fff; font-weight: bold; display: block;}
.right-element li span{font-size: 14px; color: #fff; font-weight: bold; float: left;}
.right-element li .zoom-element{ width: 90px; height: 18px; margin-left: 12px; margin-top: 2px;}
.right-element li .zoom-element>.zoom-btn{display: inline-block; width: 18px; height: 18px; background: url(../img/ico-zoom-btn.png) no-repeat;}
.right-element li .zoom-element>.out{background-position: 0 -18px;}
.right-element li .zoom-element>.zoom-text{display: inline-block; width: 54px; background-color: rgba(202,231,247,.4); font-size: 14px; font-weight: 700; text-align: center; height: 18px; line-height: 16px;}

.body-area{z-index: 999; width: 100%; height: 75px; background: #fff; box-shadow: 1px 3px 10px rgb(3 48 117 / 30%); position: absolute; top: 66px;}
.gnb-element{width: 100%; height: 100%; position: relative;}
.gnb-element .container h1{width: 129px; height: 43px; position: absolute; top: 8px;}
.gnb-element .container h1 a{display: block; width: 121px; height: 40px;}
.gnb-element .container h1 a img{display: block; width: 100%; height: 100%;} 

.gnb-element .container .gnb-mobile-element .gnb-area{margin-top: 10px; padding-left: 200px;}
.gnb-element .container .gnb-mobile-element .gnb-area > li{float: left; padding: 0 26px;}
.gnb-element .container .gnb-mobile-element .gnb-area > li:hover > a{color: #0e72e4;}
.gnb-element .container .gnb-mobile-element .gnb-area > li > a{display: block; font-size: 21px; color: #333; font-weight: bold; padding: 15px 8px 30px; text-align: center;}
.gnb-element .container .gnb-mobile-element .gnb-area > li > a > span{display: none; width: 100%; height: 5px; background-color: #0e72e4; margin-top: 16px;}
.gnb-element .container .gnb-mobile-element .gnb-area > li:hover > a > span{display: block;}
.width100{z-index: 2; width: 100%;  position: absolute; left: 0; top: 76px;  border-bottom: 3px solid #233671; display: none; background: #fff; height: 375px; box-shadow: 0 -5px 5px #fff;}
.gnb-element .container .gnb-mobile-element .gnb-area > li:hover > .width100{display: block;}

.width100 .container .image_box h2{background: url(../img/ico-gnb-m1.png) no-repeat; width: 350px; height: 300px; float: left; background-position: right 80px; box-sizing: border-box; padding-top: 230px;}
.width100 .container .image_box .logo2{background: url(../img/ico-gnb-m5.png) no-repeat; width: 350px; height: 300px; float: left; background-position: right 80px; box-sizing: border-box; padding-top: 230px;}
.width100 .container .image_box .logo3{background: url(../img/ico-gnb-m2.png) no-repeat; width: 350px; height: 300px; float: left; background-position: right 80px; box-sizing: border-box; padding-top: 230px;}
.width100 .container .image_box .logo4{background: url(../img/ico-gnb-m4.png) no-repeat; width: 350px; height: 300px; float: left; background-position: right 80px; box-sizing: border-box; padding-top: 230px;}
.width100 .container .image_box h2 span{display: block;  font-size: 30px; color: #033075; font-weight: 700; text-align: right;  padding-right: 18px;}

.width100 .container .menu-list{float: left; margin-left: 75px; padding-top: 30px;}
.width100 .container .menu-list p a{box-sizing: border-box; width: 195px; display: block; font-size: 16px; font-weight: bold; color: #333;  border-bottom: 1px solid #e2e2e2; text-align: left; padding: 10px;}
.width100 .container .menu-list p:hover a{color: #006ae2;}

.width100 .container .menu-list .menu1{float: left; margin-right: 45px;}
.width100 .container .menu-list .menu1 .p_first{height: 30px; line-height: 30px; background: #c8e2ff; border-radius: 15px; margin-bottom: 10px; padding: 0; text-align: center; font-size: 16px; color: #333; font-weight: 700;}
.width100 .container .menu-list .menu1 .p_first:hover a{color: #006ae2;}

.renew-search{position: relative;}
.renew-search .search{position: absolute; top: 7px; right: 15px; width: 320px;}
.renew-search .search input{width: 100%; height: 44px; padding: 0 25px; border: 3px solid rgb(51, 82, 164); border-radius: 30px; color: rgb(85, 85, 85); font-size: 14px; box-sizing: border-box;}
.renew-search .search button{background: #3352a4 url(../서비스/ico_btn_search.png) no-repeat 50% 50%; width: 32px; height: 32px; position: absolute; border-radius: 100%; background-size: 32px 32px; top: 50%; transform: translateY(-50%); right: 7px;}
#section_top{width: 100%; height: 39px; background: rgb(247, 245, 245); border-bottom: 1px solid rgb(235, 233, 233);} 
.breadclumbs{padding-bottom: 3px;}
.breadclumbs .bc_list{float: right;}
.breadclumbs .bc_list li{line-height: 32px; padding-top: 4px; background: url(../서비스/ico_bc_list.png) no-repeat left 8px; float: left; padding-left: 20px;}
.breadclumbs .bc_list li:first-child{padding-left: 0; background: none;}


.contentsWrap{padding-top: 20px;}
#aside{height: 100%; float: left; width: 230px; display: block; padding: 0px 0px 40px; box-sizing: border-box; margin: 0px 30px 0px 0px;}
#aside > strong{font-size: 24px; letter-spacing: -1px; display: block; padding: 0 0 10px; border-bottom: 2px solid #000; color: #1a1a1a; line-height: 1.3; font-weight: normal;}
#aside .nav strong{font-size: 16px; display: block; padding: 12px 0 11px; border-bottom: 1px solid #999; color: #333; position: relative;}
#aside .nav ul{background: #f5f5f5; border-bottom: 1px solid #999;}
#aside .nav ul > li a{display: block; border-top: 1px solid #ccc; padding: 7px 0 6px; margin: 0 20px; letter-spacing: -1px; color: #666}
#aside .nav ul > li:first-child a{border-top: none;}
#aside .nav ul > li a:hover{background: #f44336; color: #fff; padding: 7px 20px 6px; margin: 0;}

#contentsBox{float: left; width: 880px; padding-bottom: 50px;}
#contentsBox .title{border-bottom: 3px solid #333333; padding-bottom: 10px; position: relative;}
#contentsBox .title h1{font-size: 24px; line-height: 1.3; letter-spacing: -1px;}
.pageCont{position: relative; border-bottom: 2px solid #333; padding-bottom: 10px;}
.pageCont h1{margin-top: 20px; line-height: 1.3; letter-spacing: -1px; font-size: 1.5rem;}
.page_util{position: absolute; right: 10px; bottom: 10px; line-height: 1.5;}
.page_util li{float: left; margin-left: 3px; width: 26px; height: 26px;}
.page_util li:first-child{margin-left: 0;}
.page_util li a{display: inline-block; box-sizing: border-box; line-height: 26px; width: 26px ; height: 100%; background: url(../서비스/ico_page_util.png) no-repeat;}
.page_util .twitter a{background-position: 0 -50px;}
.page_util .linkcv a{background-position: 0 -399px;}
.page_util .iconBox.print a{background-position: 0 -200px; border: 1px solid #868686; border-radius: 3px;}
.page_util li a span{width: 100%; height: 100%; background: pink;}

.cont_inner{width: 100%; padding-bottom: 50px;}
.guide_tab_element{position: relative; margin-top: 50px;}
.guide_tab_element::after{content: ''; display: block; clear: both;}
.guide_tab_element li{float: left; width: 50%;}
.guide_tab_element li a{display: block; padding: 20px; border: 1px solid #e4e4e5; border-bottom: 2px solid #294a7f; background-color: #f9f9f9; font-size: 18px; color: #333333; text-align: center;}
.guide_tab_element li.active a{border: 2px solid #294a7f; border-bottom: 2px solid #fff; background-color: #fff; font-weight: bold;  }
.guide_inner_tab{margin-left: -10px; margin-top: 40px;}
.guide_inner_tab li{float: left; width: 16.6666666667%;}
.guide_inner_tab li a{display: block; margin-left: 10px; border: 1px solid #dddddd; background-color: #fff; text-align: center; height: 80px; color: #666; }
.guide_inner_tab li.active a{border: 1px solid #3b95eb; background-color: #3b95eb; color: #fff;}
.guide_inner_tab li a .vm_element{ display: table; width: 100%; height: 100%;}
.guide_inner_tab li a .vm_element span{display: table-cell; vertical-align: middle; font-size: 16px;}
.guide_inner_tab::after{content: ''; display: block; clear: both;}

.guide_count_element h2{margin-top: 20px; font-size: 18px; line-height: 1.2; margin-bottom: 10px; letter-spacing: -1px;}
.guide_count_element h2.guide_title{background: url(../고객센터/pattern.png); border-radius: 30px; padding: 10px; }
.guide_title span{display: block; padding-left: 60px; font-size: 18px; font-weight: bold; color: #333; background: #fff url(../고객센터/ico-guide-circle.png) no-repeat 30px center; border-radius: 20px; line-height: 34px;}
ul.guide_text_dash{overflow: hidden; margin-top: 20px; padding-left: 40px; line-height: 28px;}
ul.guide_text_dash li{font-size: 18px; color: #333; text-align: left;}
.guide_cont.pd40{padding: 30px 40px;}
.guide_cont{position: relative; overflow: hidden; background: #f5f5f5; margin-top: 30px;}
.guide_cont .guide_cont_title{font-size: 26px; color: #1b1a1a; font-weight: bold; padding-bottom: 10px; border-bottom: 2px solid #636363; margin-bottom: 10px;}
.guide_cont .guide_cont_title span{font-size: 15px; display: inline-block; margin-left: 10px; vertical-align: middle; font-weight: normal;}
.infor_text_right{text-align: right; font-size: 12px; color: #1b1a1a; margin-bottom: 20px;}
.guide_text_dash{overflow: hidden; margin-top: 20px; line-height: 28px;}
.guide_text_dash.member{padding-left: 60px; position: relative;}
.guide_text_dash.member>li{font-size: 16px; min-height: 50px; color: #333; text-align: left;}
.guide_num.g1{position: absolute; left: 0; top: 0;}
.guide_num{position: absolute;width: 42px; height: 42px; text-align: center; font-size: 22px; color: #fff; line-height: 42px; font-weight: bold; background: url(../고객센터/ico-guide-num.png) no-repeat;}
.guide_text_dash .large_text{display: block; font-size: 22px; font-weight: bold; color: #004dba; padding-bottom: 2px;}
.guide_cont .img_cont{margin: 25px 0 45px 0;}
.red_text{color: #ff0000;}
.guide_table{width: 100%; margin-top: 30px; }
table{border-color: gray; border-spacing: 0px;}
caption{margin-top: -1px; font-size: 1px; width: 1px; height: 1px; text-indent: -10000px; overflow: hidden;}
thead th{border: 1px solid #afd0df; background-color: #cbe7f3; text-align: center; font-size: 18px; color: #333333; padding: 15px 20px; font-weight: bold;}
tbody td{border: 1px solid #dedede; background-color: #fff; text-align: center; font-size: 16px; color: #333333; padding: 15px 20px; word-break: keep-all;}
tbody td strong{font-weight: normal;}
tbody td.text_left{text-align: left; font-weight: normal;}
.guide_cont_btn{    display: inline-block;
    height: 40px;
    background-color: #192d6a;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    color: #fff !important;
    padding: 0px 20px;
    line-height: 40px;
    border-radius: 5px;}
.text_left .guide_text_dash{padding-left: 0;}
.guide_text_dash strong,p{ font-size: 16px;}

.guide_count_element_wrap{position: relative; width: 880px; left: 0; top: 0; height: 6520px;}
.guide_count_element{position: absolute;  display: none; width: 100%; height: 100%}


.show{display: block;}





.footer-element{clear: both; position: relative;}
.top-element{border-top: 1px solid #bcc9dd; border-bottom: 1px solid #bcc9dd; height: 50px; background-color: #dce2ec; clear: both;}
.fl{float: left;}
.footer-menu{float: left; width: 692px;}
.footer-menu li{display: inline-block; margin-right: 17px;}
.footer-menu li a{display: block; font-size: 15px; color: #333; line-height: 50px;}
.footer-menu li a strong{color: #003764; text-decoration: underline; font-size: 17px;}
.fr{float: right;}
.footer-sns li{float: left; width: 75px; height: 50px;}
.footer-sns li a{display: block; width: 100%; height: 100%; background: url(../img/ico-sns.png) no-repeat;}
.footer-sns li .tw{background-position: -75px 0;}
.footer-sns li .fb{background-position: -150px 0;}
.footer-sns li .ks{background-position: -225px 0;}
.footer-sns li .yt{background-position: -300px 0;}

.body-element{background-color: #ecf1f7; height: 220px;}
.footer_box{padding: 20px 0;  position: relative;}
.footer-logo{float: left;}
.footer-infor{float: left; font-size: 16px; color: #333; line-height: 25px; margin: 5px 0 0 30px;}
.mo-only{display: none;}
.logo_wa a{display: block;}
.logo_wa a img{width: 86px; float: right;}
.footer_top_btn{position: absolute; width: 60px; height: 60px; border: 1px solid #bcc9dd; background: #fff url(../서비스/top.png) no-repeat center 7px; top: -113px; right: -118px;}
.footer_top_btn a{display: block; font-size: 14px; color: #666; font-weight: bold; text-align: center; line-height: 75px;}